<ul class="card-wrapper">
    <li class="card">
        <img src='https://images.unsplash.com/photo-1611916656173-875e4277bea6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a href="">Machining</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
    <li class="card">
        <img src='https://images.unsplash.com/photo-1611083360739-bdad6e0eb1fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a href="">Hand Tools</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
    <li class="card">
        <img src='https://images.unsplash.com/photo-1613230485186-2e7e0fca1253?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a href="">Protective/Personal equipment</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
</ul>