<!-- <ul class="card-wrapper">
    <li class="card">
        <img src='https://images.unsplash.com/photo-1611916656173-875e4277bea6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a routerLink="data/catalog/machining">Machining</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
    <li class="card">
        <img src='https://images.unsplash.com/photo-1611083360739-bdad6e0eb1fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a routerLink="data/catalog/hand-tools">Hand Tools</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
    <li class="card">
        <img src='https://images.unsplash.com/photo-1613230485186-2e7e0fca1253?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400'
            alt=''>
        <h3><a routerLink="data/catalog/personal-equipment">Protective/Personal equipment</a></h3>
        <p>Lorem ipsum sit dolor amit</p>
    </li>
</ul> -->



<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true"> -->
                    <h3>Machining Tools</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a routerLink="/data/catalog/machining">View Tools</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true"> -->
                    <h3>Hand Tools</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a routerLink="data/catalog/hand-tools">View Tools</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <!-- <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true"> -->
                    <h3>Protective/Personal equipment</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a routerLink="data/catalog/personal-equipment">View Tools</a>
                </div>
            </div>
        </div>
    </div>
</body>