<!-- <ul class="card-wrapper">
  <li class="card">
    <img
      src="https://images.unsplash.com/photo-1611916656173-875e4277bea6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
      alt=""
    />
    <h3><a routerLink="data/catalog/machining">Machining</a></h3>
    <p>Lorem ipsum sit dolor amit</p>
  </li>
  <li class="card">
    <img
      src="https://images.unsplash.com/photo-1611083360739-bdad6e0eb1fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
      alt=""
    />
    <h3><a routerLink="data/catalog/hand-tools">Hand Tools</a></h3>
    <p>Lorem ipsum sit dolor amit</p>
  </li>
  <li class="card">
    <img
      src="https://images.unsplash.com/photo-1613230485186-2e7e0fca1253?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHw&ixlib=rb-1.2.1&q=80&w=400"
      alt=""
    />
    <h3>
      <a routerLink="data/catalog/personal-equipment"
        >Protective/Personal equipment</a
      >
    </h3>
    <p>Lorem ipsum sit dolor amit</p>
  </li>
</ul> -->
<!-- <app-article></app-article> -->
<app-slideshow></app-slideshow>
<main class="catalogs">
  <div class="cards">
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <h3 class="cards__titles">Machining Tools</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Power through your projects. Find the perfect end mills, drills,
              and more to tackle any metalworking challenge
            </p>
            <a routerLink="/data/catalog/machining">View Tools</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <h3 class="cards__titles">Hand Tools</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Equip yourself for success. From DIY projects to industrial tasks,
              find the wrenches, pliers, screwdrivers, and more you need to
              build, fix, and create with confidence.
            </p>
            <a routerLink="data/catalog/hand-tools">View Tools</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <h3 class="cards__titles">Protective/Personal equipment</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Work with confidence. Find essential safety gear like gloves,
              goggles, respirators, and more to keep yourself protected on the
              job.
            </p>
            <a routerLink="data/catalog/personal-equipment">View Tools</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
