<footer class="site-footer">
  <div class="container__left">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
          facilis hic laudantium, tempore aliquid consequuntur cupiditate
          aperiam quibusdam deserunt laborum et repellat? Dignissimos,
          laudantium laborum corrupti fugit error, laboriosam tempora repellat
          optio repellendus expedita quisquam voluptatibus illum voluptatum
          libero! Minus incidunt sapiente corporis mollitia molestiae veniam
          maiores recusandae vitae blanditiis?
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container__right">
    <div class="col-xs-6 col-md-3">
      <h6>Quick Links</h6>
      <ul class="footer-links">
        <li><a routerLink="about-us">About Us</a></li>
        <li><a routerLink="contact-us">Contact Us</a></li>
        <li>
          <a routerLink="privacy-policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12"></div>
    </div>
  </div>
</footer>
