html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: rgb(58, 49, 49);
}

#page-wrapper {
    width: 650px;
    background: #FFF;
    padding: 1em;
    margin: 17em auto;
    border-top: 5px solid rgb(85, 77, 73);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    scale: 1.4;
}

h1 {
    margin-top: 0;
}



ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
}

ul li {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid rgb(82, 68, 68);
}

ul li:first-child {
    border-top: 1px solid rgb(83, 72, 72);
}

ul li span {
    display: inline-block;
    width: 90px;
    font-weight: bold;
    color: rgb(88, 80, 80);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sent {
    background-color: #4e4040;
}


#message-form {
    margin-top: 1.5rem;
}


button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.6rem 1em;
    color: rgb(82, 71, 71);
    margin: 0 0.25rem;
    text-align: center;
    background: #BABABA;
    border-bottom: 1px solid #999;
}

button {
    background: #626957;
    border-bottom: 1px solid #5d7d1f;
}

button:hover {
    opacity: 0.75;
    cursor: pointer;
}