.main-container {
  flex-grow: 1;
  flex-direction: column;
  /* align-self: center; */
  align-items: center;
  display: flex;
  /* flex-direction: column; */
  position: relative;
  justify-content: center;
}

/* .main-container__router {
  background-color: aqua;
  flex-basis: 100%;
} */
