<div *ngIf="tool">
  <div class="detail-container">
    <div class="image-container">
      <iframe
        class="PreviewFrame3D"
        title="PreviewFrame3D"
        scrolling="no"
        allowfullscreen="true"
        [src]="urlSafe"
        name="PreviewFrame3D"
        id="PreviewFrame3D"
        width="400"
        height="360"
        allow-same-origin
      ></iframe>
      <button
        (click)="downloadFile(this.tool.modelFile, $event)"
        class="download__button"
        icon="download"
      >
        Download Model
        <span m class="material-icons md-light">downlo</span>
      </button>
    </div>

    <div class="text-container">
      <h2 class="detail-title">{{ tool.toolName }}</h2>

      <ul class="detail-info">
        <p>
          <li class="detail-info__tags">Price:</li>
          {{ tool.price }} $
        </p>

        <p>
          <li class="detail-info__tags">Material:</li>
          {{ tool.material }}
        </p>

        <p>
          <li class="detail-info__tags">Country:</li>
          {{ tool.country }}
        </p>

        <p>
          <li class="detail-info__tags">Type:</li>
          {{ tool.type }}
        </p>

        <p class="description">
          <li>Description:</li>
          {{ tool.description }}
        </p>
      </ul>

      <div class="button-container">
        <button class="edit__button" (click)="addTool(tool)">
          Add to Cart
        </button>
        <ng-container *ngIf="admin">
          <button class="edit__button" routerLink="/data/edit/{{ tool._id }}">
            Edit
          </button>
          <button
            class="delete__button"
            routerLink="/data/delete/{{ tool._id }}"
          >
            Delete
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
