/* div{
    background-color: rgba(231,109,1,255); */
/* border-top-style:outset; */
/* border-radius: 20px; */
/* font-family: "Lucida Console", "Courier New", monospace;
    position : fixed;
    left:0;
    right:0;
}

.button {
    border: none; */
/* color: rgba(182, 134, 2, 0.589); */
/* padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 2px;
    cursor: pointer;
    box-shadow:none
}
.button:focus {
    border: none;
    outline: none;
}
button:focus{
    outline:none;
}

.button1 {
    border: none;
    box-sizing: none;
    font-size:larger;
    font: bolder;

}
#nav a:hover{
    color: rgb(255, 255, 255);
    background-color: #f4511e;
    text-decoration: underline;
    
}

.button2 {
    font-size:larger;
    font: bolder;
    float: right;
    
}

.search{
    border-radius: 5px;
    width: 210px;
    padding: 6px; */
/* position: absolute; */
/* } */



#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

