<header>
  <nav>
    <ul class="navbar">
      <li><a id="navbar__home" routerLink="/">Home</a></li>
      <li>
        <a id="navbar__dropdown">Catalogs</a>
        <div class="navbar__dropdown__content">
          <ul>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/machining"
                >Machining Tools</a
              >
            </li>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/hand-tools"
                >Hand Tools</a
              >
            </li>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/personal-equipment"
                >Protective/Personal equipment</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="company">
      <h1 class="company__logo">Tools Co.</h1>
    </div>
    <div class="search__container">
      <input
        #search
        name="search"
        (keyup)="onKey(search.value)"
        type="text"
        placeholder="Search"
      />

      <ul *ngIf="search.value.length > 0" class="search__results">
        <li
          class="search__items"
          *ngFor="let tool of tools"
          [routerLink]="['/data/details', tool._id]"
          (click)="search.value = ''"
        >
          <img src="{{ tool.imgUrl }}" alt="" />
          <span class="item__name">{{ tool.toolName }}</span>
        </li>
      </ul>
    </div>
    <div>
      <ul class="buttons">
        <ng-container *ngIf="!this.authService.hasUser">
          <a routerLink="/auth/login">Login</a>
          <a routerLink="/auth/register">Register</a>
        </ng-container>
        <ng-container *ngIf="this.authService.hasUser">
          <a (click)="onLogout()">Logout</a>
          <a routerLink="/auth/profile/{{ userId }}">Profile</a>
          <ng-container *ngIf="userRole === 'admin'">
            <a routerLink="/data/create">Create</a>
          </ng-container>
          <a routerLink="/data/cart" class="menu-item-right"
            >Cart ({{ cartItems }})
          </a>

          <div class="notification-wrapper">
            <div class="already_in_cart" *ngIf="itemIsInCart">
              <span class="close-btn" (click)="hideNotification()">X</span>
              <p>Item is already in the cart</p>
            </div>
          </div>
        </ng-container>
      </ul>
    </div>
  </nav>
</header>
