<header>
  <nav>
    <ul class="navbar">
      <li><a id="navbar__home" routerLink="/">Home</a></li>
      <li>
        <a id="navbar__dropdown">Catalogs</a>
        <div class="navbar__dropdown__content">
          <ul>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/machining"
                >Machining Tools</a
              >
            </li>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/hand-tools"
                >Hand Tools</a
              >
            </li>
            <li>
              <a
                class="navbar__dropdown__content__a"
                routerLink="/data/catalog/personal-equipment"
                >Protective/Personal equipment</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="company">
      <h1 class="company__logo">Tools Co.</h1>
    </div>
    <div class="search">
      <input
        #search
        (keyup)="onKey(search.value)"
        type="text"
        placeholder="Search"
      />
    </div>
    <ul class="buttons">
      <ng-container *ngIf="!this.authService.hasUser">
        <a routerLink="/auth/login">Login</a>
        <a routerLink="/auth/register">Register</a>
      </ng-container>
      <ng-container *ngIf="this.authService.hasUser">
        <a (click)="onLogout()">Logout</a>
        <a routerLink="/auth/profile/{{ userId }}">Profile</a>
        <a routerLink="/data/create">Create</a>
        <a routerLink="/data/cart" class="menu-item-right"
          >Cart ({{ cartItems }})</a
        >
      </ng-container>
    </ul>
  </nav>
</header>
