#order_box_button {
  background-color: #1e1f20; /* Синьо */
  color: #ffffff; /* Бяло */
  border: 2px solid #2d2f31; /* Синя граница с дебелина 2 пиксела */
  border-radius: 5px; /* Заобляване на ъглите с 5 пиксела */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Сива сянка с дебелина 2 пиксела */
  padding: 10px 20px; /* Добавяне на подложка около текста */
  font-size: 16px; /* Увеличаване на размера на шрифта */
  text-decoration: none; /* Премахване на подчертаването */
  cursor: pointer; /* Промяна на курсора на ръка при преместване на мишката над бутона */
}
