<!-- <div class="register">
<form [formGroup]="form" (ngSubmit)="onRegister(form.value)">
        <label for="username">Username:</label><br>
        <input type="text" formControlName="username" id="username"><br>
        <ng-container *ngIf="fc.username.touched">
        <div *ngIf="fc.username.errors">
            <div *ngIf="fc.username.errors['required']">Username field is required</div>
        </div><br>
        </ng-container>
        <label for="email">Email:</label><br>
        <input type="text" formControlName="email" id="email" ><br>
        <ng-container *ngIf="fc.email.touched">
            <div *ngIf="fc.email.errors">
                <div *ngIf="fc.email.errors['required']">Email field is required</div>
                <div *ngIf="fc.email.errors['email']">Email is not in the correct format</div>
            </div><br>
        </ng-container> -->

<!-- <ng-container formGroupName="pass"> -->
<!-- Password -->
<!-- <label for="password">Password:</label><br>
        <input type="password" formControlName="password" id="password"><br>
        <ng-container *ngIf="fc.pass.get('password').touched">
            <div *ngIf="fc.pass.get('password').errors">
                <div *ngIf="fc.pass.get('password').errors['required']">Password fields are required</div>
                <div *ngIf="fc.pass.get('password').errors['minlength']">Password should be minimum 5 symbols</div>
            </div><br>
        </ng-container>
         -->

<!-- rePass -->
<!-- <label for="rePass">Repeat Password:</label><br>
        <input type="password" formControlName="rePass" id="rePass">

        <ng-container  *ngIf="fc.pass.get('rePass').touched">
            <div *ngIf="fc.pass.get('rePass').errors">
                <div *ngIf="fc.pass.get('rePass').errors['required']">Password fields are required</div>
                <div *ngIf="fc.pass.get('rePass').errors['minlength']">Password should be minimum 5 symbols</div>
            </div><br>
        </ng-container>
    </ng-container> -->

<!-- <p><button [disabled]="form.invalid" type="submit">Register</button></p>
        <p>Already have account?  <a routerLink="/auth/login">Login</a></p>
</form>
</div> -->

<div class="flex-container">
    <div class="content-container">
        <div class="form-container">
            <form [formGroup]="form">
                <h1>Register</h1>
                <span class="subtitle">USERNAME:</span>
                <br>
                <input type="text" formControlName="username" value="">
                <ng-container class="error" *ngIf="fc.username.touched">
                    <div *ngIf="fc.username.errors">
                        <div *ngIf="fc.username.errors['required']">Username field is required</div>
                    </div><br>
                </ng-container>
                <br>
                <span class="subtitle">EMAIL:</span>
                <br>
                <input type="text" formControlName="email" value="">
                <br>
                <ng-container *ngIf="fc.email.touched">
                    <div *ngIf="fc.email.errors">
                        <div *ngIf="fc.email.errors['required']">Email field is required</div>
                        <div *ngIf="fc.email.errors['email']">Email is not in the correct format</div>
                    </div><br>
                </ng-container>
            <ng-container formGroupName="pass">
                <span class="subtitle">PASSWORD:</span>
                <br>
                <input type="password" formControlName="password" value="">
                <br>
                <ng-container *ngIf="fc.pass.get('password').touched">
                    <div *ngIf="fc.pass.get('password').errors">
                        <div *ngIf="fc.pass.get('password').errors['required']">Password fields are required</div>
                        <div *ngIf="fc.pass.get('password').errors['minlength']">Password should be minimum 5 symbols</div>
                    </div><br>
                </ng-container>
                <br>
                <span class="subtitle">REPEAT PASSWORD:</span>
                <br>
                <input type="password" formControlName="rePass" value="">
                <ng-container  *ngIf="fc.pass.get('rePass').touched">
                    <div *ngIf="fc.pass.get('rePass').errors">
                        <div *ngIf="fc.pass.get('rePass').errors['required']">Password fields are required</div>
                        <div *ngIf="fc.pass.get('rePass').errors['minlength']">Password should be minimum 5 symbols</div>
                    </div><br>
                </ng-container>
            </ng-container>
                <br>    
                <input type="submit" [disabled]="form.invalid" value="SUBMIT" class="submit-btn">
            </form>
        </div>
    </div>
</div>