<div class="register">
<form [formGroup]="form" (ngSubmit)="onRegister(form.value)">
        <label for="username">Username:</label><br>
        <input type="text" formControlName="username" id="username"><br>
        <ng-container *ngIf="fc.username.touched">
        <div *ngIf="fc.username.errors">
            <div *ngIf="fc.username.errors['required']">Username field is required</div>
        </div><br>
        </ng-container>
        <label for="email">Email:</label><br>
        <input type="text" formControlName="email" id="email" ><br>
        <ng-container *ngIf="fc.email.touched">
            <div *ngIf="fc.email.errors">
                <div *ngIf="fc.email.errors['required']">Email field is required</div>
                <div *ngIf="fc.email.errors['email']">Email is not in the correct format</div>
            </div><br>
        </ng-container>
    <ng-container formGroupName="pass" >
        <label for="password">Password:</label><br>
        <input type="text" formControlName="password" id="password"><br>
        <label for="rePass">Repeat Password:</label><br>
        <input type="text" formControlName="rePass" id="rePass">
    </ng-container>
    <ng-container *ngIf="fc.pass.touched">
        <div *ngIf="fc.pass.errors">
            <div *ngIf="fc.pass.errors['required']">Password fields are required</div>
            <div *ngIf="fc.pass.errors['minLength']">Password should be minimum 5 symbols</div>
        </div><br>
    </ng-container>
        <p><button [disabled]="form.invalid" type="submit">Register</button></p>
        <p>Already have account?  <a routerLink="/auth/login">Login</a></p>
</form>
</div>